@font-face {
    font-family: 'Alibaba PuHuiTi B';
    src: url('Alibaba-PuHuiTi-B.subset.woff2') format('woff2'),
        url('Alibaba-PuHuiTi-B.subset.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Alibaba PuHuiTi H';
    src: url('Alibaba-PuHuiTi-H.subset.woff2') format('woff2'),
        url('Alibaba-PuHuiTi-H.subset.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alibaba PuHuiTi L';
    src: url('Alibaba-PuHuiTi-L.subset.woff2') format('woff2'),
        url('Alibaba-PuHuiTi-L.subset.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alibaba PuHuiTi M';
    src: url('Alibaba-PuHuiTi-R.subset.woff2') format('woff2'),
        url('Alibaba-PuHuiTi-R.subset.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alibaba PuHuiTi R';
    src: url('Alibaba-PuHuiTi-R.subset.woff2') format('woff2'),
        url('Alibaba-PuHuiTi-R.subset.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

