body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1099px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u9950 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:87px;
  width:52px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u9950 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9950_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u9951 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:87px;
  width:52px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u9951 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9951_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u9952 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:87px;
  width:52px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u9952 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9952_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u9953 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:87px;
  width:78px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u9953 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9953_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u9954 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:87px;
  width:65px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u9954 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9954_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u9955 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:87px;
  width:26px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u9955 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9955_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u9956 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:123px;
  width:130px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u9956 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9956_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u9957 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:123px;
  width:67px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u9957 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9957_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u9958 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:123px;
  width:55px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u9958 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9958_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u9959 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:123px;
  width:67px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u9959 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9959_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u9960 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:123px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u9960 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9960_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u9961 {
  border-width:0px;
  position:absolute;
  left:1006px;
  top:123px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u9961 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9961_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u9962 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:87px;
  width:52px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u9962 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9962_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u9963 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:123px;
  width:57px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u9963 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9963_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u9964 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:4px;
  width:80px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u9964 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9964_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u9965 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:34px;
  width:52px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u9965 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9965_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:2px;
}
#u9966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1098px;
  height:1px;
  display:flex;
}
#u9966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u9967 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:180px;
  width:65px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u9967 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9967_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:2px;
}
#u9968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:206px;
  width:1098px;
  height:1px;
  display:flex;
}
#u9968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:383px;
}
#u9969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:1099px;
  height:383px;
  display:flex;
}
#u9969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9970 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:625px;
  width:140px;
  height:40px;
  display:flex;
}
#u9970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(213, 112, 22, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9971 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:625px;
  width:140px;
  height:40px;
  display:flex;
}
#u9971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:28px;
  background:inherit;
  background-color:rgba(45, 140, 240, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9972 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:248px;
  width:85px;
  height:28px;
  display:flex;
}
#u9972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
