@import './stylesheet.css';
/* @font-face {
    font-family: "阿里巴巴普惠体 B";
    src: url('Alibaba-PuHuiTi-B.woff2') format('woff2'),
    url('Alibaba-PuHuiTi-B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "阿里巴巴普惠体 H";
    src: url('Alibaba-PuHuiTi-H.woff2') format('woff2'),
    url('Alibaba-PuHuiTi-H.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Alibaba-PuHuiTi-L";
    src: url('Alibaba-PuHuiTi-L.woff2') format('woff2'),
    url('Alibaba-PuHuiTi-L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "阿里巴巴普惠体 M";
    src: url('Alibaba-PuHuiTi-M') format('woff2'),
    url('Alibaba-PuHuiTi-M') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "阿里巴巴普惠体 R";
    src: url('./Alibaba-PuHuiTi-R') format('woff2'),
    url('./Alibaba-PuHuiTi-R') format('woff');
    font-weight: normal;
    font-style: normal;
} */