body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1577px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10695 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:127px;
  width:52px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u10695 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10695_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10696 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:127px;
  width:78px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u10696 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10696_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10697 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:127px;
  width:52px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u10697 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10697_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10698 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:127px;
  width:78px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u10698 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10698_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10699 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:127px;
  width:78px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u10699 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10699_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10700 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:127px;
  width:52px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u10700 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10700_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10701 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:163px;
  width:130px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u10701 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10701_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10702 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:163px;
  width:67px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u10702 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10702_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10703 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:163px;
  width:55px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u10703 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10703_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10704 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:163px;
  width:67px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u10704 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10704_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10705 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:163px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u10705 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10705_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10706 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:163px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u10706 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10706_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10707 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:127px;
  width:52px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u10707 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10707_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10708 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:163px;
  width:57px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u10708 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10708_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1062px;
  height:120px;
}
#u10709 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:202px;
  width:1062px;
  height:120px;
  display:flex;
}
#u10709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3C42DF;
}
#u10710 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:271px;
  width:38px;
  height:16px;
  display:flex;
  color:#3C42DF;
}
#u10710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u10711 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:390px;
  width:130px;
  height:45px;
  display:flex;
  font-size:13px;
}
#u10711 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10711_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#777476;
}
#u10712 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:484px;
  width:107px;
  height:45px;
  display:flex;
  font-size:13px;
  color:#777476;
}
#u10712 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10712_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u10713 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:390px;
  width:45px;
  height:45px;
  display:flex;
}
#u10713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u10714 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:484px;
  width:45px;
  height:45px;
  display:flex;
}
#u10714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u10715 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:354px;
  width:91px;
  height:15px;
  display:flex;
  font-size:13px;
}
#u10715 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10715_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#777476;
}
#u10716 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:515px;
  width:147px;
  height:18px;
  display:flex;
  font-size:13px;
  color:#777476;
}
#u10716 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10716_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#777476;
}
#u10717 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:581px;
  width:39px;
  height:45px;
  display:flex;
  font-size:13px;
  color:#777476;
}
#u10717 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10717_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u10718 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:581px;
  width:45px;
  height:45px;
  display:flex;
}
#u10718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1577px;
  height:50px;
}
#u10720_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1577px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10720_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1140px;
  height:1px;
}
#u10721_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(233, 233, 233, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10721_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u10722 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:188px;
  height:18px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u10722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u10722_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u10722.selected {
}
#u10722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u10724 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:12px;
  width:27px;
  height:27px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
}
#u10724 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u10725 {
  border-width:0px;
  position:absolute;
  left:1537px;
  top:19px;
  width:13px;
  height:13px;
  display:flex;
}
#u10725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u10726 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:77px;
  width:112px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u10726 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10726_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10727 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:127px;
  width:26px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u10727 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10727_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10728 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:163px;
  width:104px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u10728 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10728_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10729 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:127px;
  width:52px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u10729 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10729_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#666666;
}
#u10730 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:163px;
  width:39px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#666666;
}
#u10730 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10730_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10731 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:270px;
  width:103px;
  height:24px;
  display:flex;
}
#u10731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9B9898;
}
#u10732 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:271px;
  width:98px;
  height:16px;
  display:flex;
  color:#9B9898;
}
#u10732 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10732_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
